.navigatorCenter {
  display: flex;
}

.docSidebarContainer {
  width: var(--doc-sidebar-width);
  margin-top: calc(-1 * var(--ifm-navbar-height));
  border-right: 1px solid var(--ifm-toc-border-color);
  will-change: width;
  transition: width var(--ifm-transition-fast) ease;
  clip-path: inset(0);
}

.docSidebarContainerHidden {
  width: 30px;
  cursor: e-resize;
}

.navigatorCenterRight {
  padding: 20px;
  padding-top: 0;
  flex: 1;
}

.navItemfirstTitle {
  font-size: 20px;
  font-weight: 500;
  margin-top: 30px;
}

.navItemsecondTitle {
  font-size: 18px;
  font-weight: 500;
  margin-top: -50px;
  padding-top: 67px;
}

.navListBox {
  display: flex;
  gap: 15px 1.3%;
  margin-top: 15px;
  flex-wrap: wrap;
}

.navListBoxItem {
  width: 24%;
  box-shadow: 0px 13px 16px 0px rgba(111,121,145,0.06);
  border-radius: 10px;
  border: 1px solid #e8edf8;
  padding: 20px;
  cursor: pointer;
}

.navListBoxItemTop {
  display: flex;
  align-items: center;
}

.imgAvatornav {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.notimgAvatornav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.navitemName {
  font-size: 20px;
  font-weight: bold;
}

.navItemdesc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  margin-top: 14px;
  line-height: 22px;
  color: var(--docsearch-muted-color);
  height: 66px;
  overflow: hidden;
}

.navItemTag {
  display: flex;
  margin: 14px 0;
}

.navItemTagItem {
  padding: 4px 12px;
  font-size: 14px;
  color: var(--docsearch-muted-color);
  border-radius: 5px;
  background: var(--ifm-code-background);
  margin-right: 6px;
}

.navItemlinklist {
  display: flex;
  align-items: center;
  gap: 0 8px;
}

@media (max-width: 1540px) {
  .navListBoxItem {
    width: 32.4%;
  }
}

@media (max-width: 1424px) {
  .navListBoxItem {
    width: 49.3%;
  }
}

@media (max-width: 997px) {
  .docSidebarContainer {
    display: none;
  }

  .navListBoxItem {
    width: 100%;
  }
}